body {
    background-color: #97fae8;
}

.center {
    text-align: center;
}

.column2 {
    width: 65%;
}

.padding {
    padding: 2em;
}

.navbar {
    height: 6em;
}

.navbar-item {
    font-size: 1.1em;
}

a:hover{
    color: #00ffcd;
}

.table {
    width: 100%;
    padding: 2em;
}

.desc {
    padding: 2em;
}

@media screen and (max-width: 760px) {
    .column2 {
        width: 100%;
    }
}

